# .gitignore

# Virtual Environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE-specific files
.idea/
.vscode/

# Compiled Python files
*.pyc

# Compiled C extension
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# macOS
.DS_Store

# Windows
Thumbs.db