{% extends "common_layout.html" %}
{% block title %} Bonjour admin {% endblock %}

{% block container %}

<!-- J'arrive pas a centrer le texte apar dessu les lignes colorees -->
<div class="secondHeaderRow yellow"><p style="color:#FFAF00;">hehe</p></div>
<div class="secondHeaderRow orange"><p style="color:#D34A24">hehe</p></div>
<div class="secondHeaderRow red"><p style="color:#992800">hehe</p></div>
<div class="secondHeaderRow green"><p style="color:#3C7F72">hehe</p></div>

<!-- <div class="secondTextBox white">Titre</div> -->
<!-- Donc cette partie a revoir -->

<!-- Inserer un count pour le nb de lignes dans la table en haut de la table -->
<!-- A FAIRE -->
<h1 class="title is-1">Items</h1>
<table class="table is-narrow is-hoverable is-bordered">
    <thead>
        <tr>{% for colonne in colonnes %}
            <td><b>{{colonne[1]}}</b></td>
        {% endfor %}</tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>{% for ligne in item %}
            <td>{{ligne}}</td>
        {% endfor%}</tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}