@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Tenor+Sans&display=swap');

* {
  box-sizing: border-box;
}

/* body.has-navbar-fixed-top {padding-top:4em;} */
body {
  font-family: "Calistoga";
  margin: 0;
  background-color: #FFFBED;
  height: 100vh;
}
h1 {
  font-size: 60px;
  font-weight: 100;
}
.header {
  width: 100%;
  height: 20%;
  background-color: #000000;
  text-align: center;
}

.main {
  width: 100%;
  background-color: #FFFBED;
  padding-top: 13%;
  text-align: center;
  font-size: 25px;
  height: 75%;
}

.footer {
  background-color: #3C7F72;
  text-align: center;
  width: 100%;
  color: #FFAF00;
  height: 5%;
  padding-top: 10px;
}
.container {
  text-align: center;
  position: relative;
  display: inline-block;
}

.headBox {
  align-items: center;
  width: 100%;
  padding-left: 100px; 
  padding-right: 100px;
}
.box {
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 30px;
  width: 15%; 
  padding-left: 30px; 
  padding-right: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.container::hover {
  text-decoration: underline;
}
.green { 
  background-color: #3C7F72; 
}
.red { 
  background-color: #992800; 
}
.orange { 
  background-color: #D34A24; 
}
.yellow { 
  background-color: #FFAF00; 
}
.black { 
  background-color: #000000; 
}
.white {
  background-color: #FFFBED;
}

/* POUR LE HEADER DES PAGES AVEC LES TABLES */
.secondHeaderRow {
  position: relative; /* Set position to relative for stacking context */
  z-index: 1;
  width: 100%;
  height: 4%;
  margin-bottom: 20px;
}

.secondTextBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: fit-content;
  display: block;
  border-radius: 10px;
  padding-left: 100px;
  padding-right: 100px;
}

a {
  text-decoration: none;
  color: #fff;
}