@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Tenor+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Calistoga";
  margin: 0;
  background-color: #FFFBED;
  height: 100vh;
}
h1 {
  font-size: 60px;
  font-weight: 100;
}

.row {  
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
}

.colorLine {
  -ms-flex: 5%; 
  flex: 5%;
  padding: 1px;
}

.creamLine {
  -ms-flex: 3%; 
  flex: 3%;
  background-color: #FFFBED;
}

.main {   
  -ms-flex: 71%; 
  flex: 71%;
  background-color: #FFFBED;
  padding: 20px;
  height: auto;
}

.footer {
  background-color: #3C7F72;
  text-align: center;
  width: 100%;
  color: #FFAF00;
  height: 5%;
  padding-top: 10px;
}
.container {
  text-align: center;
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.headBox {
  align-items: center;
  width: 100%;
  padding-left: 100px; 
  padding-right: 100px;
}
.box {
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 30px;
  width: 17%; 
  padding-left: 10px; 
  padding-right: 10px;
  padding-top: 70px;
  padding-bottom: 70px;
  font-size: 20px;
}

.green { 
  background-color: #3C7F72; 
}
.red { 
  background-color: #992800; 
}
.orange { 
  background-color: #D34A24; 
}
.yellow { 
  background-color: #FFAF00; 
}
.black { 
  background-color: #000000; 
}
.white {
  background-color: #FFFBED;
}

/* POUR LE HEADER DES PAGES AVEC LES TABLES */
.secondHeaderRow {
  position: relative; /* Set position to relative for stacking context */
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.secondTextBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: fit-content;
  display: block;
  border-radius: 10px;
  padding-left: 100px;
  padding-right: 100px;
}

a {
  text-decoration: none;
  color: #fff;
}

.table {
  width: 90vh;
}

.celluleImg{
  width:fit-content;
}

.conteneurOeuvre{
  border: 1px solid black;
  width:70vh;
  padding: 5px;
  margin:10px;
  position: relative;
  border-radius: 5px;
}

.conteneurCreateur{
  border: 1px solid #FFFBED;
  width: fit-content;
  padding: 5px;
  margin:10px;
  position: relative;
  border-radius: 5px;
}