{% extends "common_layout.html" %}
{% block title %} Bonjour admin {% endblock %}

{% block container %}

<h1 class="title is-1">Items</h1>
<table class="table is-narrow is-hoverable is-bordered">
    <thead>
        <tr>{% for colonne in colonnes %}
            <td><b>{{colonne[1]}}</b></td>
        {% endfor %}</tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>{% for ligne in item %}
            <td>{{ligne}}</td>
        {% endfor%}</tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}