{% extends "common_layout.html" %}
{% block title %} Bonjour admin {% endblock %}

{% block container %}
<div class="row">
    <div class="colorLine yellow"><p style="color:#FFAF00;"> </p></div>
    <div class="creamLine"> </div>
    <div class="colorLine orange"><p style="color:#D34A24"> </p></div>
    <div class="creamLine"> </div>
    <div class="colorLine red"><p style="color:#992800"> </p></div>
    <div class="creamLine"> </div>
    <div class="colorLine green"><p style="color:#3C7F72"> </p></div>
    
    <div class="main">
        <a href="index.html" style="color:black">< Back</a>
        <h1 class="title is-1">Items</h1>
        <table class="table is-narrow is-hoverable is-bordered">
            <thead>
                <tr>
                    {% for colonne in colonnes %}
                        <td style="max-width: 5%;"><b>{{colonne[1]}}</b></td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        {% for ligne in item %}
                            <td style="max-width: 5%;">{{ligne}}</td>
                        {% endfor%}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}