{% extends "common_layout.html" %}
{% block title %} Form pour ajouter un créateur {% endblock %}

{% block container %}
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form action="" method="post">
        <p>
            <label for="createurPrenom">Prénom du créateur:</label>
            <input type="text" name="createurPrenom">
        </p>
        <p>
            <label for="createurNom">Nom du créateur:</label>
            <input type="text" name="createurNom">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>
{% endblock %}

<!-- from:
https://overiq.com/flask-101/form-handling-in-flask/ -->