{% extends "common_layout.html" %}
{% block title %} Liste de tous les items {% endblock %}

{% block container %}

<div class="container green headBox"><h1 style="color: #FFAF00;">Bibliothèque</h1></div>

<div class="main" id="main">
  <div class="row" style="margin-top: 50px; margin-bottom: 140px;">
    <div class="container green box"><a href="liste_items.html">Voir tout</a></div>
    <div class="container red box"><a href="/liste_film.html">Films</a></div>
    <div class="container orange box"><a href="/liste_livre.html">Livres</a></div>
    <div class="container yellow box"><a href="/form.html">Form</a></div>
  </div>
</div>
<div class="footer"> </div>

{% endblock %}