{% extends "common_layout.html" %}
{% block title %} Liste de livres {% endblock %}

{% block container %}

<div class="row">
    <div class="colorLine yellow"><p style="color:#FFAF00;"></p></div>
    <div class="creamLine"></div>
    <div class="colorLine orange"><p style="color:#D34A24"></p></div>
    <div class="creamLine"></div>
    <div class="colorLine red"><p style="color:#992800"></p></div>
    <div class="creamLine"></div>
    <div class="colorLine green"><p style="color:#3C7F72"></p></div>
</div>
<div class="all">
    <div class="main">
        <h1 class="title is-1">Liste de toutes les oeuvres</h1>
        {%for item in items%}
            <div class="ligne">
                <div class="conteneurOeuvre">
                    <table>
                        <tr>
                            <td><img src= "{{ item[0] }}" width="200vh"></td><br>
                            <td><div>
                                <table>
                                    <tr><td><b>{{ item[1] }}</b></td></tr>
                                    <tr><td> (<i>{{ item[2] }}</i>)</td></tr><br>
                                    <tr class="caption"><td>{{ item[3] }}</td></tr><br>
                                    <tr><td><u>Genre:</u> {{ item[4] }}</td></tr>
                                    <tr><td><u>Disponible:</u> {{ item[5] }}</td></tr>
                                </table>
                            </div></td>
                        </tr>
                    </table>
                </div>
            </div>
        {%endfor%} 
    </div>
</div>


{% endblock %}